mixin createHref(name, href, btnClass)
	a.btn.nav-href-link(href=href role="button" class=btnClass)
		=name

link(rel='stylesheet', href='/stylesheets/navigation.css')

.nav-panel
	//- normal
	//- login
	//- admin
	- var normal = 'btn-success'
	- var login = 'btn-info'
	- var admin = 'btn-warning'

	+createHref('用户注册', '/user/signup', normal)
	+createHref('用户登陆', '/user/signin', normal)
	+createHref('注销登录', '/user/logout', normal)
	
	+createHref('期数列表', '/period/list', normal)

	+createHref('充值', '/charge/main', login)
	+createHref('充值记录', '/charge/list', login)
	+createHref('购买记录', '/record/list', login)

	+createHref('添加商品', '/product/add', admin)
	+createHref('商品列表', '/product/list', admin)
	+createHref('用户列表', '/user/list', admin)